<% layout('boilerplate/boilerplate.ejs')  -%> 
<link rel="stylesheet" href="styles/branditems.css">
<ul class="inventory d-flex mt-3">
    <% for(product of brands.product) {%> 
        <li class="card mb-3 me-3" style="width: 19rem;">
            <div class="card-body">
            <p>product name:<%- product.name %> </p>
            <p>product price: Ghc <%- product.price %></p>
            <p>product quantity:<%- product.quantity %></p>
            <div class="buttons" style="display: flex;">
                <a style="margin-right: 15px;" href="/inventory/<%= product.brand  %>/<%= product.id  %>/update" class="btn btn-primary ">restock</a>
                <form action="/inventory/<%= product.brand %>/<%= product.id %>?_method=delete" method="post">
                    <button class="btn btn-danger">delete</button>
                </form>
            </div>
            </div>
        </li>
    <% } %> 
</ul>